<div class="container">
{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    <div class="mb-3">
    {{ form_row(form.title) }}
    </div>
    <div class="mb-3">
    {{ form_row(form.description) }}
    </div>
    {{ form_rest(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
