{% extends 'base.html.twig' %}

{% block title %}Movie index
{% endblock %}

{% block body %}
		<h1>Movie index</h1>
		<div>
			{% for movie in movies %}
				<div class="card" style="width: 18rem;">
					<img src="{{movie.image}}" class="card-img-top" alt="...">
					<div class="card-body">
						<h5 class="card-title">{{movie.title}}</h5>
						<div class="row">
							<a href="{{ path('app_movie_edit', {'id': movie.id}) }}" class="btn btn-primary col mx-1"><i class="bi bi-pencil-square"></i> Editer</a>
							<a href="{{ path('app_movie_show', {'id': movie.id}) }}" class="btn btn-info col mx-1"><i class="bi bi-card-heading"></i> Détail</a>

						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	<a href="{{ path('app_movie_new') }}">Create new</a>
	


{% endblock %}
