{% extends 'base.html.twig' %}

{% block title %}Details de la todo
{% endblock %}

{% block body %}

		{% if todo != null %}
			<h1>Hello
				{{ controller_name }}!
			</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">task</th>
						<th scope="col">desc</th>
						<th scope="col">etat</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>

					<tr>
						<th scope="row">{{todo.id}}</th>
						<td>{{todo.task}}</td>
						<td>{{todo.desc}}</td>
						<td>
							
								<input type="checkbox" {{ todo.completed == false ? "" : "checked"}} onchange="window.location.href='{{ path("app.todo.patch", {'id': todo.id}) }}'">
							
						</td>
						<td>
							<a href="{{ path("app.todo.delete", {'id': todo.id}) }}" class="btn btn-danger">Supprimer</a>
						</td>
					</tr>
				</tbody>
			</table>
		{% endif %}
		<div class="text-center">
			<a href="{{ path("app.todo") }}" class="btn btn-primary">retour</a>
		</div>


	

{% endblock %}
