{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!
{% endblock %}

{% block body %}


	<h1>Hello
		{{ controller_name }}!</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">task</th>
				<th scope="col">etat</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			{% for todo in todolist %}

				<tr>
					<th scope="row">{{todo.id}}</th>
					<td>{{todo.task}}</td>
					<td>
						<input type="checkbox" {{ todo.completed == false ? "" : "checked"}} onchange="window.location.href='{{ path(" app.todo.patch", {'id': todo.id}) }}'">

					</td>
					<td>
						<a href="{{ path("app.todo.detail", {'id': todo.id}) }}" class="btn btn-info">détails</a>
						/
						<a href="{{ path("app.todo.delete", {'id': todo.id}) }}" class="btn btn-danger">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
